* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column; 
}

.nav-container{
    background-color: #25252a;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    height: 6vh;

    p {
        grid-column: 1;
        color: #ffffff;
        font-size: larger;
        font-weight: 800;
        justify-self: center;
        text-transform: uppercase;
    }

    ul{
        grid-column: 2;
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 5rem;
        list-style: none;
        a {
            text-decoration: none;
            font-size: medium;
            font-weight: 200;
            color: #ffffff;
        }
        a:hover{
            color: #3BBA9C;
        }
        .active{
            color: #3BBA9C;
            font-size:larger;
            font-weight: 800;
        }
        .nav-right{
            grid-column: 3;
        }
    }
}

header{
    background-color: #040404;
    height: 30vh;
    padding: 0.2rem 6rem;
    display: flex;
    overflow: hidden;

    .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            justify-self: right;
            max-width: 35%;
            display: flex;
        }
        h1{
            color: #3BBA9C;
            padding: 1rem;
            border-bottom: 1px solid white;
        }
        p{
            color: #ffffff;
            padding: 1rem;
            max-width: 80%;
        }
        
        .header-text{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            font-weight: 200;
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-header {
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding-top: 4rem;
        
        h2{
            color: #3BBA9C;
            text-transform: uppercase;
            padding-bottom: 0.5rem;
        }
        p {
            width: 50%;
            height: auto;
            display: flex;
            font-style: italic;
            font-size: smaller;
            font-weight: 200;
            color: #2e2e2e;
        }
    }

    .service-container{
        width: 90%;
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .service{
        border-radius: 10px;
        background-color: #25252a;
        width: 31%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    
    .service h3 {
        border-bottom:1px solid #ffffff;
        border-top:1px solid #ffffff;
        color: #3BBA9C;
        width: 100%;
        height: 10%;
        font-size:large;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .service img{
        width: 100%;
        height: 60%;
        min-height: 45%;
        object-fit: cover;
    }
    
    .service ul{
        padding: 1.5rem;
        width:80%;
        height: 30%;
        li {
            padding-top: 5px;
            text-align: left;
            font-weight: 200;
            color: #ffffff;
        }
    }

    .image-gallery{
        margin-top: 2rem;
        margin-bottom: 10rem;
        border-radius: 10px;
        background-color: #25252a;
        object-fit: cover;
        width: 86%;
        height: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        align-items: center;
        justify-items: center;
        overflow: hidden;
    }

    .image-gallery img{
        border: 2px solid white;
        border-radius: 5px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


footer {
    width:100%;
    height: 120px;
    background-color: #25252a;
    p{
        margin-top: 1.5rem;
        padding-left: 4rem;
        /* justify-content: center;
        text-align: center; */
        color: #ffffff;
    }
    .socials-container {
        width: 100%;
        display: flex;
        /* justify-content:center;
        flex-direction: row; */
        gap: 2rem;
        margin: 1rem 5rem;
    }
    .icon-container img{
        /* border: 2px solid #000000; */
        background-color: #ffffff;
        border-radius: 50%;
        border-color: rgb(22, 190, 134);
        padding: 3px;     
        max-height: 30px;
        max-width: auto;
    }
}